
/*Your Name and today's date */



	 
#outerwrapper {	

	background: rgba(243,205,170, 0.4);
	border-radius: 15%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.addrightmargin{
	float:left;
	border-radius: 50%;
	margin-right: 10%;
}

body{
	background-image: url('../image/jewelry.jpg');
	background-repeat: no-repeat;
}
footer{
	font-size: 1em;
	text-align: center;
	padding: 10px;

}

main{
	background-image: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family:'Courier New', Courier, monospace
}

nav, li{
	font-size: 1.5em;
	list-style-type: none;
	

}

h1{
	font-family: 'Pacifico', cursive;
}

