
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
      <meta name="keywords" content="Alaske, coats, jackets, warmth">
      <meta name="author" content="Kalwin Schied">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name=”robots” content="index, follow">
 
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Alaske</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="discount.css">
  </head>


<div>
    <body class=" container-fluid text-center d-flex flex-column min-vh-100">
   <nav class="navbar navbar-expand-lg navbar-inform bg-white sticky-top  ">
   <a class="navbar-brand alaske" href="#"> Alaske</a>
    <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon icon">Menu</span>
    </button>
    <div class="collapse navbar-collapse bg-black" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="discount.html">Discount</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="Fabrics.html">Fabrics</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#partnership"></a>
        </li>
      
        
      </ul>
    </div>
  </nav>

        

      </header>

   

      <main>

      

        <div class="parallax2 img-fluid"></div>
        <div class="" >
         <section> 
            <div class=" first" > <h3 id="purpose">Discounts</h3> During the december month, Alaske are offering percent discount.
                 <br>The discount offered have been announced since november and are ending in January 13th. </div>
            </section>
            <div class="discount">
                <h1>
                    Search Discount!
                </h1>
            </div>
            <form  class="rowd-flex justify-content-center port" action="" id="directory-filters">
                <div class="row-cols-md-auto">
                    <label for="txt-name">Discounts:</label>
                    <input type="text" name="name" value="" placeholder="All Discounts" id="txt-name">
                </div>
                <div class="row-cols-md-auto">
                    <label for="sel-title">Yearly Discount:</label>
                    <select name="sel-title" id="sel-title">
                        <option value="">- Select -</option>
                        <option value="architect">2020-2022</option>
                        <option value="designer">2015-2020</option>
                        <option value="contractor">2013-2014</option>
                        <option value="staff">2006-2013</option>
                    </select>
                </div>
                
            </form>

       
            <div id="app">
                <input type="text" v-model="searchText">
                <ul>
                  <li v-for="data in filteredList()" :key="data">
                    {{ data }}
                  </li>
                </ul>
              </div>

              
            <section> 
            <div class=" second">
                <img class="couple img-fluid" id="about" src="image/disocunt.img.jpg">
                <div class="top"> 
                <h3 >Discount Code</h3>
            Our discount code are available to be used by any customers. The discount are already avaiable since it has been released in November 21st.
            Three discount are offered. First discount <strong> "GrinchAlwaysSmells" </strong>, are offered for product that falls under the kids sizes for 10%, and the deadline is
            January 13th. The second discount <strong> "FatSantaBrokeIntoMyHouse"</strong>, is the 30% discount that are offered for elders and it ends in January 13th. The third 
            discount <strong>"NoMisstleToeThankGod" </strong> is 15% for all customer to use, only to be applied for leather product that ends in January 13th. Loyal customer 
            are offered with 20% discounts. 

            </div>
            </div>
        </section>

</div>


<footer class="mt-auto ">
    <div class="inner">
     

      <p>
     <br> &copy; Alaske Copyright 2022. <br> All rights By Alaske. </p>
    </div>
  </footer>



</body>
<script src="directory.js"></script>

<script src="java.js"></script>
</html>