/*
    Student Name: kalwin schied     
    File Name: Dr. Drink
    Date: 8/28/22
*/

/* Media Query for mobile Viewport */
@media (max-width: 670px) {  

    
    .btn {
        grid-column: 1 / span 3;
    }

header{
    position: absolute;
   bottom: 150%;
;
}


.footers{
    margin-bottom: 10px;
}





}





.logo {
    background-image: url(images/rsz_fulllogo_transparent_nobufferoriginal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome{
    position: absolute;
    top: 20%;

    margin: auto;
    padding: 2em;
    color: black;
}

.welcome2{
    position: absolute;
  

    margin: auto;
    
    color: black;
    font-size: 1.25em;

}

.welcome p, .home-h1, .first{
    font-size: 1.25em;
    width: 70%;
    line-height: 1.5;
    position: relative;
    left: 10%;
    bottom:20%;


}

.imges{
    position: relative;
   
}


.paragraph{
    position: absolute;
    left: 10px;
}




/* Media Query for Tablet Viewport */
@media (min-width: 668px) {  

    .welcome2{
        position: absolute;
        top: 60%;
        left: 20%;
        margin: auto;
        padding: 2em;
        color: black;
        font-size: 1.25em;

    }

    .faq-footers{
        display: none ;
     }

  
    
}

body {
  
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
  }


.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgb(180, 179, 179);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
    padding: 2px;
}

form {
   margin: 10px;
   
    }
    
    .contact-h1{
   
   padding: 10px;
   

    }
    
    #email_1, #full_name, #join_list, #clear_form, #Subscriptions{
        margin-top: 3%;
    }
    
    #sign_up{
        margin-top: 1%;
        margin-bottom: 1%;
    }


    .comments{
        margin-top: 2%;
    }

    #comment{
        margin-top: 1%;
    }

    #contact_us, #clear_form{
border-radius: 20px;
background-color: #3cabf0;
color: white;
margin-top: 20px;
font-size: 16px;
border: none;
cursor: pointer;

    }
    






    .iporem{
        position: relative;
        top: 100px;
        margin: auto;
        padding-bottom: 100px;
    }




  

     #email_1_error, #email_2_error, #name_error, #comment_error, #calender_year{
        color: red;
     }


#full_ame{
    position: relative;
    left: 600px;
}

/*
    Student Name: kalwin schied     
    File Name: Dr. Drink
    Date: 8/28/22
*/

/* Media Query for mobile Viewport */
@media (max-width: 670px) {  

    
    .btn {
        grid-column: 1 / span 3;
    }

header{
    position: absolute;
   bottom: 150%;
;
}

.footers{
   position: absolute;
   padding: 20px;
   padding: 3em;
   margin-top: auto;
}

.first{
    display: none;
 }
 



 .faq-footer1{

  
    display: none
    }
}





.logo {
    background-image: url(images/rsz_fulllogo_transparent_nobufferoriginal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome{
    position: absolute;
    top: 20%;

    margin: auto;
    padding: 2em;
    color: black;
}

.welcome2{
    position: absolute;
  

    margin: auto;
    
    color: black;
    font-size: 1.25em;

}

.welcome p, .home-h1, .first{
    font-size: 1.25em;
    width: 70%;
    line-height: 1.5;
    position: relative;
    left: 10%;
    bottom:20%;


}

.imges{
    position: relative;
   
}


.paragraph{
    position: absolute;
    left: 10px;
}




/* Media Query for Tablet Viewport */
@media (min-width: 668px) {  

    .welcome2{
        position: absolute;
        top: 60%;
        left: 20%;
        margin: auto;
        padding: 2em;
        color: black;
        font-size: 1.25em;

    }

    .faq-footers{
        display: none ;
     }

  
    
}

body {
  
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
  }


.contact-box{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgb(180, 179, 179);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20px;
    padding: 2px;
}

form {
   margin: 10px;
   
    }
    
    .contact-h1{
   
   padding: 10px;
   

    }
    
    #email_1, #full_name, #join_list, #clear_form, #Subscriptions{
        margin-top: 3%;
    }
    
    #sign_up{
        margin-top: 1%;
        margin-bottom: 1%;
    }


    .comments{
        margin-top: 2%;
    }

    #comment{
        margin-top: 1%;
    }

    #contact_us, #clear_form{
border-radius: 20px;
background-color: #3cabf0;
color: white;
margin-top: 20px;
font-size: 16px;
border: none;
cursor: pointer;

    }
    






    .iporem{
        position: relative;
        top: 100px;
        margin: auto;
        padding-bottom: 100px;
    }



    .mains{
        width: 90vw;
        margin: 0 auto;
        padding: 30px 20px;
        min-height: calc(100vh - 211px - 58px)
    }

    .footers{
        position: absolute;
        padding: 20px;
      
        margin-top: auto;
     }

     #email_1_error, #email_2_error, #name_error, #comment_error{
        color: red;
     }


